<h1>Main Index</h1>
<p>Book Collection Home Page</p>


<%# create a book page here %>
<%= link_to("Add New Book", new_book_path, class: 'action new') %>

<% @books.each do |book|%>
    <ul>
        <li>
             <%= book.title %>
             <%= link_to('Show', book_path(book.id), class: 'action show')%>
             <%= link_to('Edit', edit_book_path(book), class: 'action edit')%>
             <%= link_to('Delete', delete_book_path(book), class: 'action edit')%>
        </li>
    </ul>
<%end%>



